head{
    background-color: slateblue;
}

h1{
   color: royalblue; 
}

h2{
    color: darkblue;
}


body{ 
    background-color: aqua;
    font: 200% Arial, Helvetica, sans-serif;
}

nav{
    color: white;
}
p{
    color: black;
}